/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-bg: #070C1C;
  --font-sans: 'Archivo', sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
